*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box {
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    border: 2px solid black;
    position: absolute;
    top: 350px;
    left: 667px;
    text-align: center;
    
  }
  
  .red {
    background-color: red;
  }
  